---
import Layout from '../layouts/layout.astro';
import Hero from '../components/sections/hero.tsx';
---

<Layout title="Anton Shevchenko - Full-Stack Developer">
  <p style="
    color: white;
    padding: 2rem;
  ">
  </p>
  <Hero client:load/>
</Layout>