---
import Layout from '../layouts/layout.astro';
import Hero from '../components/sections/hero.tsx';
import Projects from '../components/sections/projects.tsx';
import TechStack from '../components/sections/techStack';
import Timeline from '../components/sections/timeline.tsx';
---

<Layout title="Anton Shevchenko - Full-Stack Developer">
  <p style="
    color: white;
    padding: 2rem;
  ">
  </p>
  <Hero client:load/>
  <Projects client:load/>
  <TechStack client:load/>
  <Timeline client:load/>

</Layout>